<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js"></script>
  
</head>
<body>

<div class="container">

  <header>
    <h2><a href="#"><i class="ion-plane"></i> Video Decoder</a></h2>
    <nav>
      <ul>
        <li>
          <a class="btn" href="/signup" title="Register">Register</a>
        </li>
        <li>
          <a class="btn" href="/login" title="Log In">Log In</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="cover">
    <div>
      <form class="flex-form move-up" method="post" action="/upload">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" placeholder="Paste video link here" id="url-search" name="text">
      <input type="submit" value="Summarize">
    </form>
    </div>  
    <div class="move-up2">
      <center><h1 id="mission-statement">Full video summaries quickly.</h1></center>
    </div>
  </div>
</div>


<script type="text/javascript">
    function genPDF() {
      link = document.getElementById('url-search')
      // var doc = new jsPDF()
      // doc.text(link.value, 10, 10)
      // console.log("doc: " + doc.output())
      // doc.save('test.pdf')
      console.log('created')
    }
  </script>

</body>
</html>
